
@use './../../styles/variables';

.paper {
    width: 100%;

    background-color: variables.$paper-background-color;
    color: variables.$paper-font-color;
    border-radius: 1rem;
    padding: 1rem;

    box-shadow: variables.$shadow-soft;
}