
@use './../../styles/variables';

.paper {
    width: 100%;

    background: variables.$gradient-surface;
    color: variables.$paper-font-color;
    border-radius: 1rem;
    padding: 1rem;

    box-shadow: variables.$shadow-soft;
}