

@use './../../styles/variables';

.banner {
  padding: 2rem;
  text-align: center;
  background: variables.$gradient-surface
}

.content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.title {
  font-size: variables.$sub-header-font-size;
  font-weight: variables.$sub-header-font-weight;
}

.message {
  color: variables.$text-secondary-color;
}