

$page-layout-columns: 12;
$sub-header-font-weight: 600;


$primary-color: #438f46;
$white-color: #ffffff;

$button-font-color: $primary-color;
$chip-background-color: $white-color;
$chip-font-color: $primary-color;

$error-color: #b42318;
$app-font-color: #ffffff;
$app-background-color: $primary-color;
