
@use './../styles/variables';

.page {
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(variables.$page-layout-columns, 1fr);
  grid-template-rows: auto auto auto auto auto 1fr;
  grid-auto-rows: minmax(0, auto);
  grid-gap: 0.5rem;
  grid-template-areas:
    'header header header . . . . . . . . .'
    'currentWeather currentWeather currentWeather currentWeather currentWeather currentWeather currentWeather searchContainer searchContainer searchContainer searchContainer searchContainer'
    'currentWeather currentWeather currentWeather currentWeather currentWeather currentWeather currentWeather . . . . .'
    'hourlyWeather hourlyWeather hourlyWeather hourlyWeather hourlyWeather hourlyWeather hourlyWeather hourlyWeather hourlyWeather hourlyWeather hourlyWeather hourlyWeather'
    'dailyWeather dailyWeather dailyWeather dailyWeather dailyWeather dailyWeather dailyWeather dailyWeather dailyWeather dailyWeather dailyWeather dailyWeather';
}

.title {
  margin: 0;
  font-size: 1.5rem;
}

.header {
  grid-area: header;
}

.searchContainer {
  grid-area: searchContainer;
}

.currentWeather {
  grid-area: currentWeather;
}

.hourlyWeather {
  grid-area: hourlyWeather;
}

.dailyWeather {
  grid-area: dailyWeather;
}